--
-- PostgreSQL database dump
--

\restrict 4HSmS4wdRUAw5fgNXsAtZMrc6n7A9zLBpEwaPVniNCv0hePxrAHibQaJGVQmer9

-- Dumped from database version 15.18
-- Dumped by pg_dump version 15.18

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: calculate_distance(double precision, double precision, double precision, double precision); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.calculate_distance(lat1 double precision, lon1 double precision, lat2 double precision, lon2 double precision) RETURNS double precision
    LANGUAGE plpgsql
    AS $$
DECLARE
    earth_radius DOUBLE PRECISION := 6371000; -- meters
    dlat DOUBLE PRECISION;
    dlon DOUBLE PRECISION;
    a DOUBLE PRECISION;
    c DOUBLE PRECISION;
BEGIN
    dlat = radians(lat2 - lat1);
    dlon = radians(lon2 - lon1);

    a = sin(dlat/2) * sin(dlat/2) +
        cos(radians(lat1)) * cos(radians(lat2)) *
        sin(dlon/2) * sin(dlon/2);

    c = 2 * atan2(sqrt(a), sqrt(1-a));

    RETURN earth_radius * c;
END;
$$;


ALTER FUNCTION public.calculate_distance(lat1 double precision, lon1 double precision, lat2 double precision, lon2 double precision) OWNER TO postgres;

--
-- Name: check_geo_fence(double precision, double precision); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.check_geo_fence(check_lat double precision, check_lon double precision) RETURNS TABLE(within_fence boolean, distance double precision, office_name character varying)
    LANGUAGE plpgsql
    AS $$
BEGIN
    RETURN QUERY
    SELECT
        calculate_distance(check_lat, check_lon, ol.latitude, ol.longitude) <= ol.radius_meters,
        calculate_distance(check_lat, check_lon, ol.latitude, ol.longitude),
        ol.name
    FROM office_locations ol
    WHERE ol.is_active = TRUE
    ORDER BY calculate_distance(check_lat, check_lon, ol.latitude, ol.longitude)
    LIMIT 1;
END;
$$;


ALTER FUNCTION public.check_geo_fence(check_lat double precision, check_lon double precision) OWNER TO postgres;

--
-- Name: get_leave_balance(integer, character varying, integer); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.get_leave_balance(p_employee_id integer, p_leave_type character varying, p_year integer DEFAULT NULL::integer) RETURNS TABLE(leave_type character varying, total_days integer, used_days integer, carried_over integer, available_days integer)
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_year INTEGER;
    v_balance RECORD;
BEGIN
    v_year := COALESCE(p_year, EXTRACT(YEAR FROM CURRENT_DATE)::INTEGER);
    
    SELECT lb.* INTO v_balance
    FROM leave_balance lb
    WHERE lb.employee_id = p_employee_id
      AND lb.leave_type = p_leave_type
      AND lb.year = v_year;
    
    IF v_balance.id IS NULL THEN
        RETURN QUERY SELECT p_leave_type::VARCHAR, 0::INTEGER, 0::INTEGER, 0::INTEGER, 0::INTEGER;
    ELSE
        RETURN QUERY SELECT 
            v_balance.leave_type,
            v_balance.total_days,
            v_balance.used_days,
            v_balance.carried_over_days,
            (v_balance.total_days + v_balance.carried_over_days - v_balance.used_days)::INTEGER as available_days;
    END IF;
END;
$$;


ALTER FUNCTION public.get_leave_balance(p_employee_id integer, p_leave_type character varying, p_year integer) OWNER TO postgres;

--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: attendance_records; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.attendance_records (
    id integer NOT NULL,
    employee_id integer NOT NULL,
    check_in_time timestamp without time zone NOT NULL,
    check_out_time timestamp without time zone,
    work_hours interval,
    location point,
    geo_fence_status boolean DEFAULT false,
    distance_from_office double precision,
    check_in_image_url text,
    check_out_image_url text,
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    deleted_at timestamp with time zone
);


ALTER TABLE public.attendance_records OWNER TO postgres;

--
-- Name: attendance_records_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.attendance_records_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.attendance_records_id_seq OWNER TO postgres;

--
-- Name: attendance_records_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.attendance_records_id_seq OWNED BY public.attendance_records.id;


--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_logs (
    id bigint NOT NULL,
    actor_employee_id integer,
    action character varying(100) NOT NULL,
    resource_type character varying(100) NOT NULL,
    resource_id text,
    ip_address inet,
    user_agent text,
    request_id text,
    details jsonb DEFAULT '{}'::jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted_at timestamp with time zone
);


ALTER TABLE public.audit_logs OWNER TO postgres;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.audit_logs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.audit_logs_id_seq OWNER TO postgres;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.audit_logs_id_seq OWNED BY public.audit_logs.id;


--
-- Name: backup_configurations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.backup_configurations (
    id integer NOT NULL,
    schedule_type character varying(20) DEFAULT 'daily'::character varying NOT NULL,
    retention_days integer DEFAULT 30 NOT NULL,
    last_backup_time timestamp without time zone,
    last_backup_status character varying(20),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT backup_configurations_schedule_type_check CHECK (((schedule_type)::text = ANY ((ARRAY['daily'::character varying, 'weekly'::character varying, 'monthly'::character varying])::text[])))
);


ALTER TABLE public.backup_configurations OWNER TO postgres;

--
-- Name: backup_configurations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.backup_configurations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.backup_configurations_id_seq OWNER TO postgres;

--
-- Name: backup_configurations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.backup_configurations_id_seq OWNED BY public.backup_configurations.id;


--
-- Name: department_config; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.department_config (
    id integer NOT NULL,
    department_name character varying(100) NOT NULL,
    department_head_id integer,
    default_work_start_time time without time zone DEFAULT '09:00:00'::time without time zone,
    default_work_end_time time without time zone DEFAULT '18:00:00'::time without time zone,
    default_lunch_start time without time zone DEFAULT '12:00:00'::time without time zone,
    default_lunch_end time without time zone DEFAULT '13:00:00'::time without time zone,
    max_employees integer,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.department_config OWNER TO postgres;

--
-- Name: department_config_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.department_config_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.department_config_id_seq OWNER TO postgres;

--
-- Name: department_config_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.department_config_id_seq OWNED BY public.department_config.id;


--
-- Name: device_fingerprints; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.device_fingerprints (
    id bigint NOT NULL,
    employee_id integer NOT NULL,
    fingerprint character varying(64) NOT NULL,
    ip_address inet,
    user_agent text,
    trust_score integer DEFAULT 0 NOT NULL,
    trust_level character varying(10) DEFAULT 'low'::character varying NOT NULL,
    first_seen_at timestamp with time zone DEFAULT now() NOT NULL,
    last_seen_at timestamp with time zone DEFAULT now() NOT NULL,
    login_count integer DEFAULT 1 NOT NULL,
    is_trusted boolean DEFAULT false NOT NULL,
    revoked_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT device_fingerprints_trust_level_check CHECK (((trust_level)::text = ANY ((ARRAY['high'::character varying, 'medium'::character varying, 'low'::character varying])::text[]))),
    CONSTRAINT device_fingerprints_trust_score_check CHECK (((trust_score >= 0) AND (trust_score <= 100)))
);


ALTER TABLE public.device_fingerprints OWNER TO postgres;

--
-- Name: device_fingerprints_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.device_fingerprints_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.device_fingerprints_id_seq OWNER TO postgres;

--
-- Name: device_fingerprints_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.device_fingerprints_id_seq OWNED BY public.device_fingerprints.id;


--
-- Name: employee_login_locations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.employee_login_locations (
    employee_id integer NOT NULL,
    last_lat double precision NOT NULL,
    last_lng double precision NOT NULL,
    last_login_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.employee_login_locations OWNER TO postgres;

--
-- Name: employees; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.employees (
    id integer NOT NULL,
    employee_id character varying(20) NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    email character varying(255) NOT NULL,
    phone_number character varying(20),
    department character varying(100) NOT NULL,
    "position" character varying(100) NOT NULL,
    role character varying(20) DEFAULT 'employee'::character varying NOT NULL,
    supervisor_id integer,
    hire_date date NOT NULL,
    is_active boolean DEFAULT true,
    face_embedding text,
    password_hash character varying(255),
    password_changed_at timestamp without time zone,
    failed_login_count integer DEFAULT 0,
    locked_until timestamp without time zone,
    metadata jsonb DEFAULT '{}'::jsonb,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    last_login_at timestamp with time zone,
    mfa_enabled boolean DEFAULT false NOT NULL,
    mfa_secret character varying(64),
    mfa_pending_secret character varying(64),
    mfa_backup_codes text,
    face_enrolled boolean DEFAULT false NOT NULL,
    face_enrolled_at timestamp with time zone,
    face_enrolled_by integer,
    password_must_change boolean DEFAULT false NOT NULL,
    CONSTRAINT employees_role_check CHECK (((role)::text = ANY ((ARRAY['employee'::character varying, 'supervisor'::character varying, 'admin'::character varying])::text[])))
);


ALTER TABLE public.employees OWNER TO postgres;

--
-- Name: employees_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.employees_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.employees_id_seq OWNER TO postgres;

--
-- Name: employees_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.employees_id_seq OWNED BY public.employees.id;


--
-- Name: face_approval_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.face_approval_history (
    id bigint NOT NULL,
    request_id bigint NOT NULL,
    action character varying(20) NOT NULL,
    actioned_by integer NOT NULL,
    actioned_at timestamp with time zone DEFAULT now() NOT NULL,
    notes text,
    CONSTRAINT face_approval_history_action_check CHECK (((action)::text = ANY ((ARRAY['APPROVE'::character varying, 'REJECT'::character varying])::text[])))
);


ALTER TABLE public.face_approval_history OWNER TO postgres;

--
-- Name: face_approval_history_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.face_approval_history_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.face_approval_history_id_seq OWNER TO postgres;

--
-- Name: face_approval_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.face_approval_history_id_seq OWNED BY public.face_approval_history.id;


--
-- Name: face_approval_requests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.face_approval_requests (
    id bigint NOT NULL,
    request_id bigint NOT NULL,
    assigned_approver_role character varying(20) NOT NULL,
    status character varying(20) DEFAULT 'PENDING'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT face_approval_requests_assigned_approver_role_check CHECK (((assigned_approver_role)::text = ANY ((ARRAY['admin'::character varying, 'supervisor'::character varying])::text[]))),
    CONSTRAINT face_approval_requests_status_check CHECK (((status)::text = ANY ((ARRAY['PENDING'::character varying, 'APPROVED'::character varying, 'REJECTED'::character varying])::text[])))
);


ALTER TABLE public.face_approval_requests OWNER TO postgres;

--
-- Name: face_approval_requests_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.face_approval_requests_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.face_approval_requests_id_seq OWNER TO postgres;

--
-- Name: face_approval_requests_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.face_approval_requests_id_seq OWNED BY public.face_approval_requests.id;


--
-- Name: face_audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.face_audit_logs (
    id bigint NOT NULL,
    employee_id integer NOT NULL,
    action character varying(20) NOT NULL,
    performed_by integer NOT NULL,
    previous_embedding_id bigint,
    new_embedding_id bigint,
    ip_address inet,
    device_info text,
    "timestamp" timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT face_audit_logs_action_check CHECK (((action)::text = ANY ((ARRAY['ADD'::character varying, 'UPDATE'::character varying, 'REPLACE'::character varying, 'DELETE'::character varying])::text[])))
);


ALTER TABLE public.face_audit_logs OWNER TO postgres;

--
-- Name: face_audit_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.face_audit_logs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.face_audit_logs_id_seq OWNER TO postgres;

--
-- Name: face_audit_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.face_audit_logs_id_seq OWNED BY public.face_audit_logs.id;


--
-- Name: face_change_requests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.face_change_requests (
    id bigint NOT NULL,
    employee_id integer NOT NULL,
    request_type character varying(20) NOT NULL,
    requested_by integer NOT NULL,
    new_face_embedding text,
    previous_face_embedding text,
    status character varying(20) DEFAULT 'PENDING'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted_at timestamp with time zone,
    CONSTRAINT face_change_requests_request_type_check CHECK (((request_type)::text = ANY ((ARRAY['ADD'::character varying, 'UPDATE'::character varying, 'REPLACE'::character varying, 'DELETE'::character varying])::text[]))),
    CONSTRAINT face_change_requests_status_check CHECK (((status)::text = ANY ((ARRAY['PENDING'::character varying, 'APPROVED'::character varying, 'REJECTED'::character varying])::text[])))
);


ALTER TABLE public.face_change_requests OWNER TO postgres;

--
-- Name: face_change_requests_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.face_change_requests_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.face_change_requests_id_seq OWNER TO postgres;

--
-- Name: face_change_requests_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.face_change_requests_id_seq OWNED BY public.face_change_requests.id;


--
-- Name: face_embeddings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.face_embeddings (
    id bigint NOT NULL,
    employee_id integer NOT NULL,
    embedding_vector text NOT NULL,
    embedding_version character varying(20) DEFAULT '1.0'::character varying NOT NULL,
    confidence_score double precision,
    model_name character varying(100) DEFAULT 'face-recognition-v1'::character varying,
    enrolled_by integer,
    enrollment_date timestamp with time zone DEFAULT now() NOT NULL,
    last_verified_at timestamp with time zone,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT chk_embedding_not_empty CHECK (((is_active = false) OR ((embedding_vector IS NOT NULL) AND (length(embedding_vector) > 100) AND (embedding_vector <> '[]'::text) AND (embedding_vector !~~ '[0.5,%'::text))))
);


ALTER TABLE public.face_embeddings OWNER TO postgres;

--
-- Name: TABLE face_embeddings; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.face_embeddings IS 'Stores ArcFace 512-dimensional face embeddings. Migration 009 seeded a known-bad identical vector for admin and supervisor (deactivated by migration 010). All active embeddings must pass chk_embedding_not_empty.';


--
-- Name: face_embeddings_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.face_embeddings_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.face_embeddings_id_seq OWNER TO postgres;

--
-- Name: face_embeddings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.face_embeddings_id_seq OWNED BY public.face_embeddings.id;


--
-- Name: face_enrollment_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.face_enrollment_logs (
    id bigint NOT NULL,
    employee_id integer,
    target_employee_id integer,
    action character varying(30) NOT NULL,
    performed_by_role character varying(20),
    confidence_score double precision,
    embedding_version character varying(20),
    ip_address inet,
    device_info text,
    reason text,
    previous_embedding_id bigint,
    details jsonb DEFAULT '{}'::jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT face_enrollment_logs_action_check CHECK (((action)::text = ANY ((ARRAY['ENROLL'::character varying, 'UPDATE'::character varying, 'DELETE'::character varying, 'VERIFY_SUCCESS'::character varying, 'VERIFY_FAIL'::character varying, 'ENROLLMENT_REJECTED'::character varying, 'ENROLLMENT_APPROVED'::character varying])::text[])))
);


ALTER TABLE public.face_enrollment_logs OWNER TO postgres;

--
-- Name: face_enrollment_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.face_enrollment_logs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.face_enrollment_logs_id_seq OWNER TO postgres;

--
-- Name: face_enrollment_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.face_enrollment_logs_id_seq OWNED BY public.face_enrollment_logs.id;


--
-- Name: impossible_travel_events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.impossible_travel_events (
    id bigint NOT NULL,
    employee_id integer,
    employee_id_str character varying(40),
    from_lat double precision NOT NULL,
    from_lng double precision NOT NULL,
    to_lat double precision NOT NULL,
    to_lng double precision NOT NULL,
    distance_km double precision NOT NULL,
    time_diff_minutes double precision NOT NULL,
    required_speed_kmh double precision NOT NULL,
    severity character varying(10) NOT NULL,
    ip_address inet,
    device_info text,
    resolved boolean DEFAULT false NOT NULL,
    resolved_at timestamp with time zone,
    resolved_by integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT impossible_travel_events_severity_check CHECK (((severity)::text = ANY ((ARRAY['high'::character varying, 'critical'::character varying])::text[])))
);


ALTER TABLE public.impossible_travel_events OWNER TO postgres;

--
-- Name: impossible_travel_events_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.impossible_travel_events_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.impossible_travel_events_id_seq OWNER TO postgres;

--
-- Name: impossible_travel_events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.impossible_travel_events_id_seq OWNED BY public.impossible_travel_events.id;


--
-- Name: leave_approval_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.leave_approval_history (
    id bigint NOT NULL,
    leave_request_id integer NOT NULL,
    action character varying(20) NOT NULL,
    actor_employee_id integer,
    actor_role character varying(20),
    previous_status character varying(20),
    new_status character varying(20) NOT NULL,
    reason text,
    ip_address inet,
    user_agent text,
    details jsonb DEFAULT '{}'::jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT leave_approval_history_action_check CHECK (((action)::text = ANY ((ARRAY['submit'::character varying, 'approve'::character varying, 'reject'::character varying, 'cancel'::character varying, 'override'::character varying])::text[])))
);


ALTER TABLE public.leave_approval_history OWNER TO postgres;

--
-- Name: leave_approval_history_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.leave_approval_history_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.leave_approval_history_id_seq OWNER TO postgres;

--
-- Name: leave_approval_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.leave_approval_history_id_seq OWNED BY public.leave_approval_history.id;


--
-- Name: leave_balance; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.leave_balance (
    id integer NOT NULL,
    employee_id integer NOT NULL,
    leave_type character varying(50) NOT NULL,
    year integer NOT NULL,
    total_days integer DEFAULT 0 NOT NULL,
    used_days integer DEFAULT 0 NOT NULL,
    carried_over_days integer DEFAULT 0 NOT NULL,
    last_updated timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.leave_balance OWNER TO postgres;

--
-- Name: leave_balance_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.leave_balance_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.leave_balance_id_seq OWNER TO postgres;

--
-- Name: leave_balance_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.leave_balance_id_seq OWNED BY public.leave_balance.id;


--
-- Name: leave_policy; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.leave_policy (
    id integer NOT NULL,
    leave_type character varying(50) NOT NULL,
    annual_days_allowed integer DEFAULT 20 NOT NULL,
    carry_over_days integer DEFAULT 5,
    requires_approval boolean DEFAULT true,
    approval_required_after_days integer DEFAULT 2,
    description text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT leave_policy_leave_type_check CHECK (((leave_type)::text = ANY ((ARRAY['vacation'::character varying, 'sick'::character varying, 'personal'::character varying, 'maternity'::character varying, 'paternity'::character varying])::text[])))
);


ALTER TABLE public.leave_policy OWNER TO postgres;

--
-- Name: leave_policy_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.leave_policy_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.leave_policy_id_seq OWNER TO postgres;

--
-- Name: leave_policy_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.leave_policy_id_seq OWNED BY public.leave_policy.id;


--
-- Name: leave_requests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.leave_requests (
    id integer NOT NULL,
    employee_id integer NOT NULL,
    supervisor_id integer,
    leave_type character varying(50) NOT NULL,
    start_date date NOT NULL,
    end_date date NOT NULL,
    total_days integer NOT NULL,
    reason text NOT NULL,
    status character varying(20) DEFAULT 'pending'::character varying,
    approval_date timestamp without time zone,
    rejection_reason text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    approved_by integer,
    approval_notes text,
    deleted_at timestamp with time zone,
    approver_id integer,
    approval_timestamp timestamp with time zone,
    CONSTRAINT leave_requests_leave_type_check CHECK (((leave_type)::text = ANY ((ARRAY['vacation'::character varying, 'sick'::character varying, 'personal'::character varying, 'maternity'::character varying, 'paternity'::character varying])::text[]))),
    CONSTRAINT leave_requests_status_check CHECK (((status)::text = ANY ((ARRAY['pending'::character varying, 'approved'::character varying, 'rejected'::character varying, 'cancelled'::character varying])::text[])))
);


ALTER TABLE public.leave_requests OWNER TO postgres;

--
-- Name: leave_requests_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.leave_requests_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.leave_requests_id_seq OWNER TO postgres;

--
-- Name: leave_requests_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.leave_requests_id_seq OWNED BY public.leave_requests.id;


--
-- Name: login_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.login_logs (
    id integer NOT NULL,
    employee_id integer NOT NULL,
    success boolean NOT NULL,
    spoof_detected boolean DEFAULT false,
    spoof_confidence double precision,
    challenge_passed boolean,
    face_embedding text,
    ip_address inet,
    device_info text,
    location jsonb,
    error_details text,
    "timestamp" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    deleted_at timestamp with time zone
);


ALTER TABLE public.login_logs OWNER TO postgres;

--
-- Name: login_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.login_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.login_logs_id_seq OWNER TO postgres;

--
-- Name: login_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.login_logs_id_seq OWNED BY public.login_logs.id;


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    id bigint NOT NULL,
    employee_id integer NOT NULL,
    type character varying(50) DEFAULT 'system'::character varying NOT NULL,
    title character varying(200) NOT NULL,
    message text NOT NULL,
    payload jsonb DEFAULT '{}'::jsonb NOT NULL,
    is_read boolean DEFAULT false NOT NULL,
    read_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.notifications_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.notifications_id_seq OWNER TO postgres;

--
-- Name: notifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.notifications_id_seq OWNED BY public.notifications.id;


--
-- Name: office_locations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.office_locations (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    latitude double precision NOT NULL,
    longitude double precision NOT NULL,
    radius_meters integer DEFAULT 100 NOT NULL,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    work_start_time time without time zone DEFAULT '09:00:00'::time without time zone,
    work_end_time time without time zone DEFAULT '18:00:00'::time without time zone,
    lunch_start_time time without time zone DEFAULT '12:00:00'::time without time zone,
    lunch_end_time time without time zone DEFAULT '13:00:00'::time without time zone,
    address text,
    timezone character varying(50) DEFAULT 'UTC'::character varying,
    created_by integer
);


ALTER TABLE public.office_locations OWNER TO postgres;

--
-- Name: office_locations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.office_locations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.office_locations_id_seq OWNER TO postgres;

--
-- Name: office_locations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.office_locations_id_seq OWNED BY public.office_locations.id;


--
-- Name: refresh_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.refresh_tokens (
    id uuid NOT NULL,
    employee_id integer NOT NULL,
    token_family uuid NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    revoked_at timestamp with time zone,
    replaced_by uuid,
    ip_address inet,
    device_info text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.refresh_tokens OWNER TO postgres;

--
-- Name: schema_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.schema_migrations (
    id character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    checksum character varying(64) NOT NULL,
    applied_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.schema_migrations OWNER TO postgres;

--
-- Name: security_events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.security_events (
    id integer NOT NULL,
    employee_id integer,
    event_type character varying(50) NOT NULL,
    "timestamp" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    ip_address inet,
    device_info text,
    details text,
    severity character varying(10) DEFAULT 'medium'::character varying,
    deleted_at timestamp with time zone,
    CONSTRAINT security_events_event_type_check CHECK (((event_type)::text = ANY ((ARRAY['SPOOF_ATTEMPT'::character varying, 'FACE_MISMATCH'::character varying, 'GEOFENCE_VIOLATION'::character varying, 'MULTIPLE_LOGIN_ATTEMPTS'::character varying, 'FACE_REGISTERED'::character varying, 'FACE_REGISTRATION_ERROR'::character varying, 'LOGIN_ERROR'::character varying, 'SECURITY_ALERT'::character varying, 'LOGIN_ATTEMPT'::character varying, 'LOGIN_FAILED'::character varying, 'LOGIN_SUCCESS'::character varying, 'TOKEN_REFRESH'::character varying, 'TOKEN_REVOKED'::character varying, 'MFA_CHALLENGE'::character varying, 'PASSWORD_CHANGE'::character varying, 'SUSPICIOUS_LOGIN'::character varying, 'DEVICE_FINGERPRINT_MISMATCH'::character varying, 'ACCOUNT_LOCKED'::character varying, 'SESSION_REVOKED'::character varying, 'IMPOSSIBLE_TRAVEL'::character varying])::text[]))),
    CONSTRAINT security_events_severity_check CHECK (((severity)::text = ANY ((ARRAY['low'::character varying, 'medium'::character varying, 'high'::character varying, 'critical'::character varying])::text[])))
);


ALTER TABLE public.security_events OWNER TO postgres;

--
-- Name: security_events_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.security_events_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.security_events_id_seq OWNER TO postgres;

--
-- Name: security_events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.security_events_id_seq OWNED BY public.security_events.id;


--
-- Name: supervisor_assignments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.supervisor_assignments (
    id integer NOT NULL,
    supervisor_id integer NOT NULL,
    employee_id integer NOT NULL,
    department character varying(100),
    assigned_by integer,
    assigned_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    is_active boolean DEFAULT true,
    unassigned_at timestamp with time zone,
    unassigned_by integer
);


ALTER TABLE public.supervisor_assignments OWNER TO postgres;

--
-- Name: supervisor_assignments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.supervisor_assignments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.supervisor_assignments_id_seq OWNER TO postgres;

--
-- Name: supervisor_assignments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.supervisor_assignments_id_seq OWNED BY public.supervisor_assignments.id;


--
-- Name: system_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.system_logs (
    id integer NOT NULL,
    service_name character varying(50) NOT NULL,
    log_level character varying(10) NOT NULL,
    message text NOT NULL,
    "timestamp" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    metadata jsonb,
    CONSTRAINT system_logs_log_level_check CHECK (((log_level)::text = ANY ((ARRAY['debug'::character varying, 'info'::character varying, 'warn'::character varying, 'error'::character varying, 'fatal'::character varying])::text[])))
);


ALTER TABLE public.system_logs OWNER TO postgres;

--
-- Name: system_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.system_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.system_logs_id_seq OWNER TO postgres;

--
-- Name: system_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.system_logs_id_seq OWNED BY public.system_logs.id;


--
-- Name: work_reports; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.work_reports (
    id integer NOT NULL,
    employee_id integer NOT NULL,
    supervisor_id integer,
    report_date date NOT NULL,
    title character varying(200) NOT NULL,
    description text NOT NULL,
    image_urls text[],
    status character varying(20) DEFAULT 'submitted'::character varying,
    feedback text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    location jsonb,
    metadata jsonb DEFAULT '{}'::jsonb NOT NULL,
    approved_by integer,
    approval_date timestamp without time zone,
    deleted_at timestamp with time zone,
    CONSTRAINT work_reports_status_check CHECK (((status)::text = ANY ((ARRAY['submitted'::character varying, 'reviewed'::character varying, 'approved'::character varying])::text[])))
);


ALTER TABLE public.work_reports OWNER TO postgres;

--
-- Name: work_reports_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.work_reports_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.work_reports_id_seq OWNER TO postgres;

--
-- Name: work_reports_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.work_reports_id_seq OWNED BY public.work_reports.id;


--
-- Name: work_timings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.work_timings (
    id integer NOT NULL,
    employee_id integer,
    department character varying(100),
    work_start_time time without time zone DEFAULT '09:00:00'::time without time zone NOT NULL,
    work_end_time time without time zone DEFAULT '18:00:00'::time without time zone NOT NULL,
    lunch_start_time time without time zone DEFAULT '12:00:00'::time without time zone,
    lunch_end_time time without time zone DEFAULT '13:00:00'::time without time zone,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    overtime_start_time time without time zone,
    overtime_end_time time without time zone,
    timezone character varying(50) DEFAULT 'UTC'::character varying
);


ALTER TABLE public.work_timings OWNER TO postgres;

--
-- Name: work_timings_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.work_timings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.work_timings_id_seq OWNER TO postgres;

--
-- Name: work_timings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.work_timings_id_seq OWNED BY public.work_timings.id;


--
-- Name: attendance_records id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance_records ALTER COLUMN id SET DEFAULT nextval('public.attendance_records_id_seq'::regclass);


--
-- Name: audit_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs ALTER COLUMN id SET DEFAULT nextval('public.audit_logs_id_seq'::regclass);


--
-- Name: backup_configurations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.backup_configurations ALTER COLUMN id SET DEFAULT nextval('public.backup_configurations_id_seq'::regclass);


--
-- Name: department_config id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.department_config ALTER COLUMN id SET DEFAULT nextval('public.department_config_id_seq'::regclass);


--
-- Name: device_fingerprints id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_fingerprints ALTER COLUMN id SET DEFAULT nextval('public.device_fingerprints_id_seq'::regclass);


--
-- Name: employees id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees ALTER COLUMN id SET DEFAULT nextval('public.employees_id_seq'::regclass);


--
-- Name: face_approval_history id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.face_approval_history ALTER COLUMN id SET DEFAULT nextval('public.face_approval_history_id_seq'::regclass);


--
-- Name: face_approval_requests id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.face_approval_requests ALTER COLUMN id SET DEFAULT nextval('public.face_approval_requests_id_seq'::regclass);


--
-- Name: face_audit_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.face_audit_logs ALTER COLUMN id SET DEFAULT nextval('public.face_audit_logs_id_seq'::regclass);


--
-- Name: face_change_requests id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.face_change_requests ALTER COLUMN id SET DEFAULT nextval('public.face_change_requests_id_seq'::regclass);


--
-- Name: face_embeddings id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.face_embeddings ALTER COLUMN id SET DEFAULT nextval('public.face_embeddings_id_seq'::regclass);


--
-- Name: face_enrollment_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.face_enrollment_logs ALTER COLUMN id SET DEFAULT nextval('public.face_enrollment_logs_id_seq'::regclass);


--
-- Name: impossible_travel_events id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.impossible_travel_events ALTER COLUMN id SET DEFAULT nextval('public.impossible_travel_events_id_seq'::regclass);


--
-- Name: leave_approval_history id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leave_approval_history ALTER COLUMN id SET DEFAULT nextval('public.leave_approval_history_id_seq'::regclass);


--
-- Name: leave_balance id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leave_balance ALTER COLUMN id SET DEFAULT nextval('public.leave_balance_id_seq'::regclass);


--
-- Name: leave_policy id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leave_policy ALTER COLUMN id SET DEFAULT nextval('public.leave_policy_id_seq'::regclass);


--
-- Name: leave_requests id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leave_requests ALTER COLUMN id SET DEFAULT nextval('public.leave_requests_id_seq'::regclass);


--
-- Name: login_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.login_logs ALTER COLUMN id SET DEFAULT nextval('public.login_logs_id_seq'::regclass);


--
-- Name: notifications id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications ALTER COLUMN id SET DEFAULT nextval('public.notifications_id_seq'::regclass);


--
-- Name: office_locations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.office_locations ALTER COLUMN id SET DEFAULT nextval('public.office_locations_id_seq'::regclass);


--
-- Name: security_events id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.security_events ALTER COLUMN id SET DEFAULT nextval('public.security_events_id_seq'::regclass);


--
-- Name: supervisor_assignments id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supervisor_assignments ALTER COLUMN id SET DEFAULT nextval('public.supervisor_assignments_id_seq'::regclass);


--
-- Name: system_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.system_logs ALTER COLUMN id SET DEFAULT nextval('public.system_logs_id_seq'::regclass);


--
-- Name: work_reports id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_reports ALTER COLUMN id SET DEFAULT nextval('public.work_reports_id_seq'::regclass);


--
-- Name: work_timings id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_timings ALTER COLUMN id SET DEFAULT nextval('public.work_timings_id_seq'::regclass);


--
-- Data for Name: attendance_records; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.attendance_records (id, employee_id, check_in_time, check_out_time, work_hours, location, geo_fence_status, distance_from_office, check_in_image_url, check_out_image_url, notes, created_at, updated_at, deleted_at) FROM stdin;
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: backup_configurations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.backup_configurations (id, schedule_type, retention_days, last_backup_time, last_backup_status, created_at, updated_at) FROM stdin;
1	daily	30	\N	\N	2026-06-13 16:55:29.726122	2026-06-13 16:55:29.726122
\.


--
-- Data for Name: department_config; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.department_config (id, department_name, department_head_id, default_work_start_time, default_work_end_time, default_lunch_start, default_lunch_end, max_employees, is_active, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: device_fingerprints; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.device_fingerprints (id, employee_id, fingerprint, ip_address, user_agent, trust_score, trust_level, first_seen_at, last_seen_at, login_count, is_trusted, revoked_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: employee_login_locations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.employee_login_locations (employee_id, last_lat, last_lng, last_login_at, updated_at) FROM stdin;
1	20.13686279657448	85.63562496078431	2026-06-14 10:53:32.523+00	2026-06-14 10:53:32.523+00
\.


--
-- Data for Name: employees; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: face_approval_history; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.face_approval_history (id, request_id, action, actioned_by, actioned_at, notes) FROM stdin;
\.


--
-- Data for Name: face_approval_requests; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.face_approval_requests (id, request_id, assigned_approver_role, status, created_at) FROM stdin;
\.


--
-- Data for Name: face_audit_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.face_audit_logs (id, employee_id, action, performed_by, previous_embedding_id, new_embedding_id, ip_address, device_info, "timestamp") FROM stdin;
\.


--
-- Data for Name: face_change_requests; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.face_change_requests (id, employee_id, request_type, requested_by, new_face_embedding, previous_face_embedding, status, created_at, updated_at, deleted_at) FROM stdin;
\.


--
-- Data for Name: face_embeddings; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: face_enrollment_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: impossible_travel_events; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.impossible_travel_events (id, employee_id, employee_id_str, from_lat, from_lng, to_lat, to_lng, distance_km, time_diff_minutes, required_speed_kmh, severity, ip_address, device_info, resolved, resolved_at, resolved_by, created_at) FROM stdin;
\.


--
-- Data for Name: leave_approval_history; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.leave_approval_history (id, leave_request_id, action, actor_employee_id, actor_role, previous_status, new_status, reason, ip_address, user_agent, details, created_at) FROM stdin;
\.


--
-- Data for Name: leave_balance; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.leave_balance (id, employee_id, leave_type, year, total_days, used_days, carried_over_days, last_updated) FROM stdin;
\.


--
-- Data for Name: leave_policy; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: leave_requests; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.leave_requests (id, employee_id, supervisor_id, leave_type, start_date, end_date, total_days, reason, status, approval_date, rejection_reason, created_at, updated_at, approved_by, approval_notes, deleted_at, approver_id, approval_timestamp) FROM stdin;
\.


--
-- Data for Name: login_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.login_logs (id, employee_id, success, spoof_detected, spoof_confidence, challenge_passed, face_embedding, ip_address, device_info, location, error_details, "timestamp", deleted_at) FROM stdin;
75	1	t	f	0.05	t	\N	::ffff:172.18.0.7	node	\N	\N	2026-06-14 16:43:15.507288	\N
76	52	t	f	0.05	t	\N	::ffff:172.18.0.7	node	\N	\N	2026-06-14 16:43:15.858689	\N
77	52	t	f	0.05	t	\N	::ffff:172.18.0.7	node	\N	\N	2026-06-14 16:43:15.895587	\N
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.notifications (id, employee_id, type, title, message, payload, is_read, read_at, created_at) FROM stdin;
\.


--
-- Data for Name: office_locations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.office_locations (id, name, latitude, longitude, radius_meters, is_active, created_at, updated_at, work_start_time, work_end_time, lunch_start_time, lunch_end_time, address, timezone, created_by) FROM stdin;
1	Main Office	40.7128	-74.006	100	t	2026-06-13 16:55:29.713194	2026-06-13 16:55:29.713194	09:00:00	18:00:00	12:00:00	13:00:00	\N	UTC	\N
\.


--
-- Data for Name: refresh_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: schema_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: security_events; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: supervisor_assignments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.supervisor_assignments (id, supervisor_id, employee_id, department, assigned_by, assigned_at, is_active, unassigned_at, unassigned_by) FROM stdin;
\.


--
-- Data for Name: system_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.system_logs (id, service_name, log_level, message, "timestamp", metadata) FROM stdin;
\.


--
-- Data for Name: work_reports; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.work_reports (id, employee_id, supervisor_id, report_date, title, description, image_urls, status, feedback, created_at, updated_at, location, metadata, approved_by, approval_date, deleted_at) FROM stdin;
\.


--
-- Data for Name: work_timings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.work_timings (id, employee_id, department, work_start_time, work_end_time, lunch_start_time, lunch_end_time, is_active, created_at, updated_at, overtime_start_time, overtime_end_time, timezone) FROM stdin;
\.


--
-- Name: attendance_records_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.attendance_records_id_seq', 2, true);


--
-- Name: audit_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.audit_logs_id_seq', 46, true);


--
-- Name: backup_configurations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.backup_configurations_id_seq', 1, true);


--
-- Name: department_config_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.department_config_id_seq', 1, false);


--
-- Name: device_fingerprints_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.device_fingerprints_id_seq', 1, false);


--
-- Name: employees_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.employees_id_seq', 52, true);


--
-- Name: face_approval_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.face_approval_history_id_seq', 1, false);


--
-- Name: face_approval_requests_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.face_approval_requests_id_seq', 1, false);


--
-- Name: face_audit_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.face_audit_logs_id_seq', 1, false);


--
-- Name: face_change_requests_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.face_change_requests_id_seq', 1, false);


--
-- Name: face_embeddings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.face_embeddings_id_seq', 48, true);


--
-- Name: face_enrollment_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.face_enrollment_logs_id_seq', 8, true);


--
-- Name: impossible_travel_events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.impossible_travel_events_id_seq', 1, false);


--
-- Name: leave_approval_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.leave_approval_history_id_seq', 1, false);


--
-- Name: leave_balance_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.leave_balance_id_seq', 1, false);


--
-- Name: leave_policy_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.leave_policy_id_seq', 5, true);


--
-- Name: leave_requests_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.leave_requests_id_seq', 3, true);


--
-- Name: login_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.login_logs_id_seq', 77, true);


--
-- Name: notifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.notifications_id_seq', 1, false);


--
-- Name: office_locations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.office_locations_id_seq', 1, true);


--
-- Name: security_events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.security_events_id_seq', 367, true);


--
-- Name: supervisor_assignments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.supervisor_assignments_id_seq', 3, true);


--
-- Name: system_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.system_logs_id_seq', 1, false);


--
-- Name: work_reports_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.work_reports_id_seq', 1, false);


--
-- Name: work_timings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.work_timings_id_seq', 1, false);


--
-- Name: attendance_records attendance_records_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance_records
    ADD CONSTRAINT attendance_records_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: backup_configurations backup_configurations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.backup_configurations
    ADD CONSTRAINT backup_configurations_pkey PRIMARY KEY (id);


--
-- Name: department_config department_config_department_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.department_config
    ADD CONSTRAINT department_config_department_name_key UNIQUE (department_name);


--
-- Name: department_config department_config_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.department_config
    ADD CONSTRAINT department_config_pkey PRIMARY KEY (id);


--
-- Name: device_fingerprints device_fingerprints_employee_id_fingerprint_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_fingerprints
    ADD CONSTRAINT device_fingerprints_employee_id_fingerprint_key UNIQUE (employee_id, fingerprint);


--
-- Name: device_fingerprints device_fingerprints_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_fingerprints
    ADD CONSTRAINT device_fingerprints_pkey PRIMARY KEY (id);


--
-- Name: employee_login_locations employee_login_locations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employee_login_locations
    ADD CONSTRAINT employee_login_locations_pkey PRIMARY KEY (employee_id);


--
-- Name: employees employees_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_email_key UNIQUE (email);


--
-- Name: employees employees_employee_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_employee_id_key UNIQUE (employee_id);


--
-- Name: employees employees_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_pkey PRIMARY KEY (id);


--
-- Name: face_approval_history face_approval_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.face_approval_history
    ADD CONSTRAINT face_approval_history_pkey PRIMARY KEY (id);


--
-- Name: face_approval_requests face_approval_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.face_approval_requests
    ADD CONSTRAINT face_approval_requests_pkey PRIMARY KEY (id);


--
-- Name: face_audit_logs face_audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.face_audit_logs
    ADD CONSTRAINT face_audit_logs_pkey PRIMARY KEY (id);


--
-- Name: face_change_requests face_change_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.face_change_requests
    ADD CONSTRAINT face_change_requests_pkey PRIMARY KEY (id);


--
-- Name: face_embeddings face_embeddings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.face_embeddings
    ADD CONSTRAINT face_embeddings_pkey PRIMARY KEY (id);


--
-- Name: face_enrollment_logs face_enrollment_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.face_enrollment_logs
    ADD CONSTRAINT face_enrollment_logs_pkey PRIMARY KEY (id);


--
-- Name: impossible_travel_events impossible_travel_events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.impossible_travel_events
    ADD CONSTRAINT impossible_travel_events_pkey PRIMARY KEY (id);


--
-- Name: leave_approval_history leave_approval_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leave_approval_history
    ADD CONSTRAINT leave_approval_history_pkey PRIMARY KEY (id);


--
-- Name: leave_balance leave_balance_employee_id_leave_type_year_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leave_balance
    ADD CONSTRAINT leave_balance_employee_id_leave_type_year_key UNIQUE (employee_id, leave_type, year);


--
-- Name: leave_balance leave_balance_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leave_balance
    ADD CONSTRAINT leave_balance_pkey PRIMARY KEY (id);


--
-- Name: leave_policy leave_policy_leave_type_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leave_policy
    ADD CONSTRAINT leave_policy_leave_type_key UNIQUE (leave_type);


--
-- Name: leave_policy leave_policy_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leave_policy
    ADD CONSTRAINT leave_policy_pkey PRIMARY KEY (id);


--
-- Name: leave_requests leave_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leave_requests
    ADD CONSTRAINT leave_requests_pkey PRIMARY KEY (id);


--
-- Name: login_logs login_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.login_logs
    ADD CONSTRAINT login_logs_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: office_locations office_locations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.office_locations
    ADD CONSTRAINT office_locations_pkey PRIMARY KEY (id);


--
-- Name: refresh_tokens refresh_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_pkey PRIMARY KEY (id);


--
-- Name: schema_migrations schema_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schema_migrations
    ADD CONSTRAINT schema_migrations_pkey PRIMARY KEY (id);


--
-- Name: security_events security_events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.security_events
    ADD CONSTRAINT security_events_pkey PRIMARY KEY (id);


--
-- Name: supervisor_assignments supervisor_assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supervisor_assignments
    ADD CONSTRAINT supervisor_assignments_pkey PRIMARY KEY (id);


--
-- Name: supervisor_assignments supervisor_assignments_supervisor_id_employee_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supervisor_assignments
    ADD CONSTRAINT supervisor_assignments_supervisor_id_employee_id_key UNIQUE (supervisor_id, employee_id);


--
-- Name: system_logs system_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.system_logs
    ADD CONSTRAINT system_logs_pkey PRIMARY KEY (id);


--
-- Name: work_reports work_reports_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_reports
    ADD CONSTRAINT work_reports_pkey PRIMARY KEY (id);


--
-- Name: work_timings work_timings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_timings
    ADD CONSTRAINT work_timings_pkey PRIMARY KEY (id);


--
-- Name: idx_attendance_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_attendance_date ON public.attendance_records USING btree (check_in_time);


--
-- Name: idx_attendance_employee; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_attendance_employee ON public.attendance_records USING btree (employee_id);


--
-- Name: idx_attendance_employee_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_attendance_employee_time ON public.attendance_records USING btree (employee_id, check_in_time DESC);


--
-- Name: idx_attendance_geo_fence; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_attendance_geo_fence ON public.attendance_records USING btree (geo_fence_status);


--
-- Name: idx_attendance_not_deleted; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_attendance_not_deleted ON public.attendance_records USING btree (employee_id, check_in_time DESC) WHERE (deleted_at IS NULL);


--
-- Name: idx_audit_logs_action; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_logs_action ON public.audit_logs USING btree (action);


--
-- Name: idx_audit_logs_action_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_logs_action_created ON public.audit_logs USING btree (action, created_at DESC);


--
-- Name: idx_audit_logs_actor; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_logs_actor ON public.audit_logs USING btree (actor_employee_id);


--
-- Name: idx_audit_logs_actor_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_logs_actor_created ON public.audit_logs USING btree (actor_employee_id, created_at DESC);


--
-- Name: idx_audit_logs_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_logs_created ON public.audit_logs USING btree (created_at);


--
-- Name: idx_audit_logs_not_deleted; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_logs_not_deleted ON public.audit_logs USING btree (created_at DESC) WHERE (deleted_at IS NULL);


--
-- Name: idx_audit_logs_resource; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_logs_resource ON public.audit_logs USING btree (resource_type, resource_id);


--
-- Name: idx_department_config_head; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_department_config_head ON public.department_config USING btree (department_head_id);


--
-- Name: idx_department_config_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_department_config_name ON public.department_config USING btree (department_name);


--
-- Name: idx_device_fingerprints_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_device_fingerprints_active ON public.device_fingerprints USING btree (employee_id) WHERE (revoked_at IS NULL);


--
-- Name: idx_device_fingerprints_employee; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_device_fingerprints_employee ON public.device_fingerprints USING btree (employee_id);


--
-- Name: idx_device_fingerprints_lookup; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_device_fingerprints_lookup ON public.device_fingerprints USING btree (employee_id, fingerprint);


--
-- Name: idx_employees_active_role; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_employees_active_role ON public.employees USING btree (is_active, role);


--
-- Name: idx_employees_department; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_employees_department ON public.employees USING btree (department);


--
-- Name: idx_employees_employee_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_employees_employee_id ON public.employees USING btree (employee_id);


--
-- Name: idx_employees_locked_until; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_employees_locked_until ON public.employees USING btree (locked_until);


--
-- Name: idx_employees_supervisor; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_employees_supervisor ON public.employees USING btree (supervisor_id);


--
-- Name: idx_face_approval_hist_request; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_face_approval_hist_request ON public.face_approval_history USING btree (request_id);


--
-- Name: idx_face_approval_requests_request; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_face_approval_requests_request ON public.face_approval_requests USING btree (request_id);


--
-- Name: idx_face_approval_requests_role; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_face_approval_requests_role ON public.face_approval_requests USING btree (assigned_approver_role) WHERE ((status)::text = 'PENDING'::text);


--
-- Name: idx_face_audit_logs_employee; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_face_audit_logs_employee ON public.face_audit_logs USING btree (employee_id);


--
-- Name: idx_face_audit_logs_timestamp; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_face_audit_logs_timestamp ON public.face_audit_logs USING btree ("timestamp" DESC);


--
-- Name: idx_face_change_requests_employee; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_face_change_requests_employee ON public.face_change_requests USING btree (employee_id);


--
-- Name: idx_face_change_requests_not_deleted; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_face_change_requests_not_deleted ON public.face_change_requests USING btree (created_at DESC) WHERE (deleted_at IS NULL);


--
-- Name: idx_face_change_requests_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_face_change_requests_status ON public.face_change_requests USING btree (status);


--
-- Name: idx_face_embeddings_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_face_embeddings_active ON public.face_embeddings USING btree (employee_id) WHERE (is_active = true);


--
-- Name: idx_face_embeddings_employee; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_face_embeddings_employee ON public.face_embeddings USING btree (employee_id);


--
-- Name: idx_face_embeddings_unique_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_face_embeddings_unique_active ON public.face_embeddings USING btree (employee_id) WHERE (is_active = true);


--
-- Name: idx_face_logs_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_face_logs_created ON public.face_enrollment_logs USING btree (created_at DESC);


--
-- Name: idx_face_logs_employee; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_face_logs_employee ON public.face_enrollment_logs USING btree (employee_id);


--
-- Name: idx_face_logs_target; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_face_logs_target ON public.face_enrollment_logs USING btree (target_employee_id);


--
-- Name: idx_impossible_travel_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_impossible_travel_created ON public.impossible_travel_events USING btree (created_at DESC);


--
-- Name: idx_impossible_travel_employee; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_impossible_travel_employee ON public.impossible_travel_events USING btree (employee_id);


--
-- Name: idx_impossible_travel_unresolved; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_impossible_travel_unresolved ON public.impossible_travel_events USING btree (employee_id) WHERE (resolved = false);


--
-- Name: idx_leave_approval_history_actor; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_leave_approval_history_actor ON public.leave_approval_history USING btree (actor_employee_id);


--
-- Name: idx_leave_approval_history_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_leave_approval_history_created ON public.leave_approval_history USING btree (created_at DESC);


--
-- Name: idx_leave_approval_history_request; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_leave_approval_history_request ON public.leave_approval_history USING btree (leave_request_id);


--
-- Name: idx_leave_balance_employee; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_leave_balance_employee ON public.leave_balance USING btree (employee_id);


--
-- Name: idx_leave_balance_year; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_leave_balance_year ON public.leave_balance USING btree (year);


--
-- Name: idx_leave_dates; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_leave_dates ON public.leave_requests USING btree (start_date, end_date);


--
-- Name: idx_leave_employee; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_leave_employee ON public.leave_requests USING btree (employee_id);


--
-- Name: idx_leave_employee_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_leave_employee_status ON public.leave_requests USING btree (employee_id, status);


--
-- Name: idx_leave_not_deleted; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_leave_not_deleted ON public.leave_requests USING btree (employee_id, status) WHERE (deleted_at IS NULL);


--
-- Name: idx_leave_policy_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_leave_policy_type ON public.leave_policy USING btree (leave_type);


--
-- Name: idx_leave_requests_approver; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_leave_requests_approver ON public.leave_requests USING btree (approver_id);


--
-- Name: idx_leave_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_leave_status ON public.leave_requests USING btree (status);


--
-- Name: idx_leave_supervisor; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_leave_supervisor ON public.leave_requests USING btree (supervisor_id);


--
-- Name: idx_login_logs_employee; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_login_logs_employee ON public.login_logs USING btree (employee_id);


--
-- Name: idx_login_logs_not_deleted; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_login_logs_not_deleted ON public.login_logs USING btree ("timestamp" DESC) WHERE (deleted_at IS NULL);


--
-- Name: idx_login_logs_spoof; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_login_logs_spoof ON public.login_logs USING btree (spoof_detected);


--
-- Name: idx_login_logs_success; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_login_logs_success ON public.login_logs USING btree (success);


--
-- Name: idx_login_logs_timestamp; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_login_logs_timestamp ON public.login_logs USING btree ("timestamp");


--
-- Name: idx_notifications_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notifications_created ON public.notifications USING btree (created_at);


--
-- Name: idx_notifications_employee; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notifications_employee ON public.notifications USING btree (employee_id);


--
-- Name: idx_notifications_employee_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notifications_employee_created ON public.notifications USING btree (employee_id, created_at DESC);


--
-- Name: idx_notifications_read; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notifications_read ON public.notifications USING btree (is_read);


--
-- Name: idx_notifications_unread; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notifications_unread ON public.notifications USING btree (employee_id) WHERE (is_read = false);


--
-- Name: idx_refresh_tokens_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_refresh_tokens_active ON public.refresh_tokens USING btree (employee_id, expires_at) WHERE (revoked_at IS NULL);


--
-- Name: idx_refresh_tokens_employee; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_refresh_tokens_employee ON public.refresh_tokens USING btree (employee_id);


--
-- Name: idx_refresh_tokens_expires; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_refresh_tokens_expires ON public.refresh_tokens USING btree (expires_at);


--
-- Name: idx_refresh_tokens_family; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_refresh_tokens_family ON public.refresh_tokens USING btree (token_family);


--
-- Name: idx_security_events_employee; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_security_events_employee ON public.security_events USING btree (employee_id);


--
-- Name: idx_security_events_not_deleted; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_security_events_not_deleted ON public.security_events USING btree ("timestamp" DESC) WHERE (deleted_at IS NULL);


--
-- Name: idx_security_events_severity; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_security_events_severity ON public.security_events USING btree (severity);


--
-- Name: idx_security_events_timestamp; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_security_events_timestamp ON public.security_events USING btree ("timestamp");


--
-- Name: idx_security_events_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_security_events_type ON public.security_events USING btree (event_type);


--
-- Name: idx_security_events_type_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_security_events_type_time ON public.security_events USING btree (event_type, "timestamp" DESC);


--
-- Name: idx_supervisor_assignments_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_supervisor_assignments_active ON public.supervisor_assignments USING btree (is_active);


--
-- Name: idx_supervisor_assignments_employee; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_supervisor_assignments_employee ON public.supervisor_assignments USING btree (employee_id);


--
-- Name: idx_supervisor_assignments_supervisor; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_supervisor_assignments_supervisor ON public.supervisor_assignments USING btree (supervisor_id);


--
-- Name: idx_system_logs_level; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_system_logs_level ON public.system_logs USING btree (log_level);


--
-- Name: idx_system_logs_service; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_system_logs_service ON public.system_logs USING btree (service_name);


--
-- Name: idx_system_logs_timestamp; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_system_logs_timestamp ON public.system_logs USING btree ("timestamp");


--
-- Name: idx_work_reports_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_work_reports_date ON public.work_reports USING btree (report_date);


--
-- Name: idx_work_reports_employee; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_work_reports_employee ON public.work_reports USING btree (employee_id);


--
-- Name: idx_work_reports_not_deleted; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_work_reports_not_deleted ON public.work_reports USING btree (employee_id, report_date DESC) WHERE (deleted_at IS NULL);


--
-- Name: idx_work_reports_supervisor; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_work_reports_supervisor ON public.work_reports USING btree (supervisor_id);


--
-- Name: idx_work_timings_department; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_work_timings_department ON public.work_timings USING btree (department);


--
-- Name: idx_work_timings_employee; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_work_timings_employee ON public.work_timings USING btree (employee_id);


--
-- Name: attendance_records update_attendance_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_attendance_updated_at BEFORE UPDATE ON public.attendance_records FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: backup_configurations update_backup_configurations_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_backup_configurations_updated_at BEFORE UPDATE ON public.backup_configurations FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: department_config update_department_config_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_department_config_updated_at BEFORE UPDATE ON public.department_config FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: employees update_employees_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_employees_updated_at BEFORE UPDATE ON public.employees FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: leave_policy update_leave_policy_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_leave_policy_updated_at BEFORE UPDATE ON public.leave_policy FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: leave_requests update_leave_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_leave_updated_at BEFORE UPDATE ON public.leave_requests FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: office_locations update_office_locations_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_office_locations_updated_at BEFORE UPDATE ON public.office_locations FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: work_reports update_work_reports_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_work_reports_updated_at BEFORE UPDATE ON public.work_reports FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: work_timings update_work_timings_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_work_timings_updated_at BEFORE UPDATE ON public.work_timings FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: attendance_records attendance_records_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance_records
    ADD CONSTRAINT attendance_records_employee_id_fkey FOREIGN KEY (employee_id) REFERENCES public.employees(id);


--
-- Name: audit_logs audit_logs_actor_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_actor_employee_id_fkey FOREIGN KEY (actor_employee_id) REFERENCES public.employees(id) ON DELETE SET NULL;


--
-- Name: department_config department_config_department_head_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.department_config
    ADD CONSTRAINT department_config_department_head_id_fkey FOREIGN KEY (department_head_id) REFERENCES public.employees(id);


--
-- Name: device_fingerprints device_fingerprints_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_fingerprints
    ADD CONSTRAINT device_fingerprints_employee_id_fkey FOREIGN KEY (employee_id) REFERENCES public.employees(id) ON DELETE CASCADE;


--
-- Name: employee_login_locations employee_login_locations_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employee_login_locations
    ADD CONSTRAINT employee_login_locations_employee_id_fkey FOREIGN KEY (employee_id) REFERENCES public.employees(id) ON DELETE CASCADE;


--
-- Name: employees employees_face_enrolled_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_face_enrolled_by_fkey FOREIGN KEY (face_enrolled_by) REFERENCES public.employees(id) ON DELETE SET NULL;


--
-- Name: employees employees_supervisor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_supervisor_id_fkey FOREIGN KEY (supervisor_id) REFERENCES public.employees(id);


--
-- Name: face_approval_history face_approval_history_actioned_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.face_approval_history
    ADD CONSTRAINT face_approval_history_actioned_by_fkey FOREIGN KEY (actioned_by) REFERENCES public.employees(id) ON DELETE RESTRICT;


--
-- Name: face_approval_history face_approval_history_request_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.face_approval_history
    ADD CONSTRAINT face_approval_history_request_id_fkey FOREIGN KEY (request_id) REFERENCES public.face_change_requests(id) ON DELETE CASCADE;


--
-- Name: face_approval_requests face_approval_requests_request_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.face_approval_requests
    ADD CONSTRAINT face_approval_requests_request_id_fkey FOREIGN KEY (request_id) REFERENCES public.face_change_requests(id) ON DELETE CASCADE;


--
-- Name: face_audit_logs face_audit_logs_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.face_audit_logs
    ADD CONSTRAINT face_audit_logs_employee_id_fkey FOREIGN KEY (employee_id) REFERENCES public.employees(id) ON DELETE CASCADE;


--
-- Name: face_audit_logs face_audit_logs_performed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.face_audit_logs
    ADD CONSTRAINT face_audit_logs_performed_by_fkey FOREIGN KEY (performed_by) REFERENCES public.employees(id) ON DELETE RESTRICT;


--
-- Name: face_change_requests face_change_requests_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.face_change_requests
    ADD CONSTRAINT face_change_requests_employee_id_fkey FOREIGN KEY (employee_id) REFERENCES public.employees(id) ON DELETE CASCADE;


--
-- Name: face_change_requests face_change_requests_requested_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.face_change_requests
    ADD CONSTRAINT face_change_requests_requested_by_fkey FOREIGN KEY (requested_by) REFERENCES public.employees(id) ON DELETE CASCADE;


--
-- Name: face_embeddings face_embeddings_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.face_embeddings
    ADD CONSTRAINT face_embeddings_employee_id_fkey FOREIGN KEY (employee_id) REFERENCES public.employees(id) ON DELETE RESTRICT;


--
-- Name: face_embeddings face_embeddings_enrolled_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.face_embeddings
    ADD CONSTRAINT face_embeddings_enrolled_by_fkey FOREIGN KEY (enrolled_by) REFERENCES public.employees(id) ON DELETE SET NULL;


--
-- Name: face_enrollment_logs face_enrollment_logs_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.face_enrollment_logs
    ADD CONSTRAINT face_enrollment_logs_employee_id_fkey FOREIGN KEY (employee_id) REFERENCES public.employees(id) ON DELETE SET NULL;


--
-- Name: face_enrollment_logs face_enrollment_logs_target_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.face_enrollment_logs
    ADD CONSTRAINT face_enrollment_logs_target_employee_id_fkey FOREIGN KEY (target_employee_id) REFERENCES public.employees(id) ON DELETE SET NULL;


--
-- Name: impossible_travel_events impossible_travel_events_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.impossible_travel_events
    ADD CONSTRAINT impossible_travel_events_employee_id_fkey FOREIGN KEY (employee_id) REFERENCES public.employees(id) ON DELETE SET NULL;


--
-- Name: impossible_travel_events impossible_travel_events_resolved_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.impossible_travel_events
    ADD CONSTRAINT impossible_travel_events_resolved_by_fkey FOREIGN KEY (resolved_by) REFERENCES public.employees(id) ON DELETE SET NULL;


--
-- Name: leave_approval_history leave_approval_history_actor_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leave_approval_history
    ADD CONSTRAINT leave_approval_history_actor_employee_id_fkey FOREIGN KEY (actor_employee_id) REFERENCES public.employees(id) ON DELETE SET NULL;


--
-- Name: leave_approval_history leave_approval_history_leave_request_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leave_approval_history
    ADD CONSTRAINT leave_approval_history_leave_request_id_fkey FOREIGN KEY (leave_request_id) REFERENCES public.leave_requests(id) ON DELETE RESTRICT;


--
-- Name: leave_balance leave_balance_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leave_balance
    ADD CONSTRAINT leave_balance_employee_id_fkey FOREIGN KEY (employee_id) REFERENCES public.employees(id) ON DELETE CASCADE;


--
-- Name: leave_balance leave_balance_leave_type_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leave_balance
    ADD CONSTRAINT leave_balance_leave_type_fkey FOREIGN KEY (leave_type) REFERENCES public.leave_policy(leave_type);


--
-- Name: leave_requests leave_requests_approved_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leave_requests
    ADD CONSTRAINT leave_requests_approved_by_fkey FOREIGN KEY (approved_by) REFERENCES public.employees(id);


--
-- Name: leave_requests leave_requests_approver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leave_requests
    ADD CONSTRAINT leave_requests_approver_id_fkey FOREIGN KEY (approver_id) REFERENCES public.employees(id) ON DELETE SET NULL;


--
-- Name: leave_requests leave_requests_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leave_requests
    ADD CONSTRAINT leave_requests_employee_id_fkey FOREIGN KEY (employee_id) REFERENCES public.employees(id);


--
-- Name: leave_requests leave_requests_supervisor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leave_requests
    ADD CONSTRAINT leave_requests_supervisor_id_fkey FOREIGN KEY (supervisor_id) REFERENCES public.employees(id);


--
-- Name: login_logs login_logs_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.login_logs
    ADD CONSTRAINT login_logs_employee_id_fkey FOREIGN KEY (employee_id) REFERENCES public.employees(id);


--
-- Name: notifications notifications_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_employee_id_fkey FOREIGN KEY (employee_id) REFERENCES public.employees(id) ON DELETE CASCADE;


--
-- Name: office_locations office_locations_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.office_locations
    ADD CONSTRAINT office_locations_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.employees(id) ON DELETE SET NULL;


--
-- Name: refresh_tokens refresh_tokens_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_employee_id_fkey FOREIGN KEY (employee_id) REFERENCES public.employees(id) ON DELETE CASCADE;


--
-- Name: security_events security_events_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.security_events
    ADD CONSTRAINT security_events_employee_id_fkey FOREIGN KEY (employee_id) REFERENCES public.employees(id);


--
-- Name: supervisor_assignments supervisor_assignments_assigned_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supervisor_assignments
    ADD CONSTRAINT supervisor_assignments_assigned_by_fkey FOREIGN KEY (assigned_by) REFERENCES public.employees(id);


--
-- Name: supervisor_assignments supervisor_assignments_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supervisor_assignments
    ADD CONSTRAINT supervisor_assignments_employee_id_fkey FOREIGN KEY (employee_id) REFERENCES public.employees(id) ON DELETE CASCADE;


--
-- Name: supervisor_assignments supervisor_assignments_supervisor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supervisor_assignments
    ADD CONSTRAINT supervisor_assignments_supervisor_id_fkey FOREIGN KEY (supervisor_id) REFERENCES public.employees(id) ON DELETE CASCADE;


--
-- Name: supervisor_assignments supervisor_assignments_unassigned_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supervisor_assignments
    ADD CONSTRAINT supervisor_assignments_unassigned_by_fkey FOREIGN KEY (unassigned_by) REFERENCES public.employees(id) ON DELETE SET NULL;


--
-- Name: work_reports work_reports_approved_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_reports
    ADD CONSTRAINT work_reports_approved_by_fkey FOREIGN KEY (approved_by) REFERENCES public.employees(id);


--
-- Name: work_reports work_reports_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_reports
    ADD CONSTRAINT work_reports_employee_id_fkey FOREIGN KEY (employee_id) REFERENCES public.employees(id);


--
-- Name: work_reports work_reports_supervisor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_reports
    ADD CONSTRAINT work_reports_supervisor_id_fkey FOREIGN KEY (supervisor_id) REFERENCES public.employees(id);


--
-- Name: work_timings work_timings_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_timings
    ADD CONSTRAINT work_timings_employee_id_fkey FOREIGN KEY (employee_id) REFERENCES public.employees(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 4HSmS4wdRUAw5fgNXsAtZMrc6n7A9zLBpEwaPVniNCv0hePxrAHibQaJGVQmer9

